/* This file is for your main application css. */

/* Gameboard grid */
.mk-grid-9{
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    background-color: lightblue;
  }
.mk-grid-9 > div {
  background-color: green;
  height: 7rem;
  width: 7rem;
}
